/* A small reset that removes default spacing and includes borders in element sizes. */
* {
  box-sizing: border-box;
}

body, h1, h2, p {
  margin: 0;
}

button, input {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

[hidden] {
  display: none !important;
}
